html {
	scroll-behavior: smooth;
}

.btn {
	background-color: rgb(255, 197, 51);
	color: rgb(2, 29, 59);
	border-color: rgb(2, 29, 59);
	border-width: 1px;
}

/*ini style navbar*/
.navbar {
	background-color: rgb(2, 29, 59);
	height: 12%;
	font-size: 15px;
}

.navbar a {
	color: white;
}

.navbar-brand {
	font-size: 30px;
}

/* ini style jumbotron*/
.jumbotron {
	background-size: cover;
	height: 100%;
	text-align: center;
	padding-top: 18%;
	padding-bottom: 15%;

}

.jumbotron .display-4 {
	color: aliceblue;
	font-size: 500%;
}

.jumbotron p {
	color: aliceblue;
	font-size: 20px;
}

.jumbotron hr {
	border-color: rgb(1, 35, 73);
	width: 1000px;
	border-width: 3px;
}

/* ini style about*/
.tentang {
	padding-top: 8%;
	color: rgb(1, 35, 73);
	padding-bottom: 20%;
	padding-left: 8%;
	padding-right: 8%;
	border-radius: 3rem;
}

.tentang hr {
	border-color: rgb(255, 197, 51);
	width: 80%;
	border-width: 5px;
}

/* ini style fiture*/

.fitur {
	padding-top: 1%;
	padding-left: 10%;
	padding-right: 10%;
	background-color: rgb(1, 35, 73);
	padding-bottom: 10%;
}

.fitur .card {
	color: rgb(1, 35, 73);
}

.card-img-top {
	margin-left: 40%;
	width: 20%;
	margin-top: 5%;
}


/* ini style artikel*/
.artikel {
	padding-top: 3%;
	padding-bottom: 8%;
}

#artikel2 {
	padding-top: 30px;
}

.judul_ar {
	color: rgb(1, 35, 73);
}

.artikel hr {
	border-color: rgb(255, 197, 51);
	width: 80%;
	border-width: 5px;
}

/*ini style contact*/
#contacts {
	padding-top: -20%;
	background-size: cover;
	height: 700px;
	padding-left: 10%;
	padding-right: 10%;
	color: white;
}



/* ini style footer*/
.footer {
	background-color: rgb(1, 35, 72);
	padding-top: 1%;
	color: white;
}

.anggota {
	height: 120px;
	padding-left: 3%;
	border-image: 5px;
	border-radius: 50%;
}
